<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Comment Widget</title>
    <link href="./assets/css/style.css" rel="stylesheet" />
    <script src="./assets/js/utils/angular.min.js"></script>
    <script src="./assets/js/utils/md5.min.js"></script>
  </head>
  <body>
    <div class="main_wrap" ng-app="comments" ng-controller="commentWidgetCtrl">
      <form class="add-comment" name="commentForm" novalidate="novalidate" ng-submit="commentForm.$valid && addNewComment()" >
        <input type="email" placeholder="Email" ng-model="newComment.author" required="required"/>
        <textarea placeholder="Message" ng-model="newComment.content" required="required"></textarea>
        <button type="submit" ng-disabled="!commentForm.$valid">Submit</button>
        <div class="clear"></div>
      </form>
      <div class="comments_wrap" ng-if="comments.length">
        <div class="filter_wrap" ng-show="comments.length > 1">
          <span class="fa fa-search"></span>
          <input class="filter" ng-model="filterText" placeholder="Filter"></label>
        </div>
        <ul class="comment-list" ng-class="{no_list : comments.length <= 1}">
          <li class="comment-block no_comments" ng-if="(comments | filter:filterText).length == 0">
            <div class="comment-avatar">
              <img src="./assets/img/sad-emoticon.png" alt="No Comments" width="50">
            </div>
            <div class="comment">
              <div class="author">
                Sorry,
              </div>
              <p class="content">
                we didn't found any comment that match '{{ filterText }}'
              </p>
            </div>
          </li>
          <li class="comment-block" ng-repeat="comment in comments | filter:filterText">
            <div class="comment-avatar">
              <img ng-src="{{ getAvatar(comment.author) }}" alt="{{ comment.author | lowercase}}" >
            </div>
            <div class="comment">
              <div class="author">
                {{ comment.author | lowercase}}
              </div>
              <p class="content">
                {{ comment.content }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script type="text/javascript" src="./assets/js/app.js"></script>
    <script type="text/javascript" src="./assets/js/services/gravatar.js"></script>
  </body>
</html>
